<!-- Footer -->

<footer class="footer">
  <div class="container">

      <!-- Newsletter -->



  </div>

  <!-- Footer Content -->

  <div class="footer_content">
      <div class="row">

          <!-- Footer Column - About -->
          <div class="col-lg-2 footer_col">

              <!-- Logo -->

              <!-- <div class="logo_container">
                  <div class="logo">
                      <img src="assets\logo\Main-colors\Horizontal-logo-colors.png" alt="">

                      <img src="assets\logo\Tradinos-logo\tradinos-3colors@2x.png" alt="">

                  </div>
              </div>-->
              <!-- ** 23-4***-->
              <div class="col-lg-2 footer_col">
                  <div class="footer_column_title ">
                      <h2 style="margin-left: 20px;">Powered by</h2>
                  </div>
                  <img src="assets\logo\Tradinos-logo\tradinos-3colors@2x.png" alt="">



              </div>

          </div>

          <!-- Footer Column - Menu -->

          <div class="col-lg-2 footer_col">
              <div class="footer_column_title">
                  <!-- ** 23-4***-->
                  <h1>
                      Menu
                  </h1>
              </div>
              <div class="footer_column_content">
                  <ul>
                      <li class="footer_list_item">
                          <a href="#">Home</a>
                      </li>
                      <li class="footer_list_item">
                         <a [routerLink]="['about']">About this</a>
                      </li>
                      <li class="footer_list_item">
                          <a routerLink="pro list" routerLinkActive="active">Project List</a>
                      </li>
                      <li class="footer_list_item" [routerLinkActive]="['active']">
                          <a routerLink="Enroll">Enroll</a>
                      </li>

                  </ul>
              </div>
          </div>


          <!-- Footer Column - Usefull Links -->

          <div class="col-lg-2 footer_col">
              <div class="footer_column_title">
                  <!-- ** 23-4***-->
                  <h1>
                      Usefull Links
                  </h1>
              </div>
              <div class="footer_column_content">
                  <ul>
                      <li class="footer_list_item">
                          <a routerLink="#">ITE HEAD START</a>
                      </li>
                      <li class="footer_list_item">
                          <a target="_blank" href="http://www.tradinos.com/">TRADINOS</a>
                      </li>
                      <li class="footer_list_item">
                          <a routerLink="about us">DEVELOPERS</a>
                      </li>
                      <li class="footer_list_item">
                          <a target="_blank" href="http://new.damasuniv.edu.sy/ite/index.php">Damascuse University</a>
                      </li>

                  </ul>
              </div>
          </div>

          <!-- Footer Column - Contact -->

          <div class="col-lg-3 footer_col">
              <div class="footer_column_title">
                  <!-- ** 23-4***-->
                  <h1>
                      Contact
                  </h1>
              </div>
              <div class="footer_column_content">
                  <ul>
                      <li class="footer_contact_item">
                          <div class="footer_contact_icon">
                              <img src="assets\placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">

                          </div>
                          Syria -Damascuse -Faculty Of Information Technology Engineering
                      </li>
                      <li class="footer_contact_item">
                          <div class="footer_contact_icon">
                              <img src="assets/smartphone (1).svg" alt="https://www.flaticon.com/authors/lucy-g">
                          </div>
                          +963 941 756 258
                      </li>
                      <li class="footer_contact_item">
                          <div class="footer_contact_icon">
                              <img src="assets/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                          </div>Beshr.g@gmail.com
                      </li>
                      <!-- ** 23-4***-->
                      <li class="footer_contact_item">

                      </li>
                  </ul>

              </div>
          </div>
          <div class="col-lg-3 footer_col">
              <div class="footer_column_title">
                  <!-- ** 23-4***-->
                  <h1>
                      FITE Location
                  </h1>
              </div>

              <div class="row" style="width:60%;">

                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.2252257233527!2d36.3218072851817!3d33.495516880761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1518e13010b4aadd%3A0x6f45a5c6d86929cf!2sFITE!5e0!3m2!1sar!2s!4v1524492948233"
                      width="600" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
          </div>
          <!--  <div  id="googleMap" style="width:100%;height:400px; margin-right: 20px;"></div>
      -->
      </div>

      <!-- Footer Copyright -->



  </div>

</footer>