<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Enroll</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <div class="newsletter_form_container mx-auto">
                    <form action="#">
                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                            <!-- ** 23-4***-->
                            <!-- <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" >Full name</button>
                                           -->
                            <div class="col-md-3" style="background: #3486BB;">
                                <label>
                                    <h4>Full name </h4>
                                </label>
                            </div>
                            <input id="name" class="newsletter_email" type="text" placeholder="Full name" required="required" data-error="Valid email is required."
                                #name required>

                        </div>
                        <br>
                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                            <!-- ** 23-4***-->
                            <div class="col-md-3" style="background: #3486BB;">

                                <label>
                                    <h4>Email </h4>
                                </label>
                            </div>
                            <!-- <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300"  >Email</button>
                                           -->
                            <input id="newsletter_email" class="newsletter_email" type="email" placeholder="Email Address"
                                required="required" data-error="Valid email is required." required #email>

                        </div>
                        <br>
                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                            <!-- ** 23-4***-->
                            <div class="col-md-3" style="background: #3486BB;">

                                <label>
                                    <h4>Phone Number </h4>
                                </label>
                            </div>
                            <!--  <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" >Phone Number</button>
                                          -->
                            <input id="phone" class="newsletter_email" type="text" placeholder="Phone Number" required="required"
                                data-error="Valid email is required." required #phone>

                        </div>
                        <br>
                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                            <!-- ** 23-4***-->
                            <div class="col-md-3" style="background: #3486BB;">
                                <label>
                                    <h4>Country </h4>
                                </label>
                            </div>
                            <!--
                                            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" >Country</button>
                                                    -->
                            <input id="country" class="newsletter_email" type="text" placeholder="Country" required="required"
                                data-error="Valid email is required." required #Country>

                        </div>
                        <br>
                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                            <!-- ** 23-4***-->
                            <div class="col-md-3" style="background: #3486BB;">
                                <label>
                                    <h4>City </h4>
                                </label>
                            </div>

                            <!--
                                            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" >City</button>
                                                    -->
                            <input id="city" class="newsletter_email" type="text" placeholder="City" required="required"
                                data-error="Valid email is required." required #City>

                        </div>
                        <br>
                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                            <!-- ** 23-4***-->
                            <div class="col-md-3" style="background: #3486BB;">
                                <label>
                                    <h4>Company Name </h4>
                                </label>
                            </div>
                            <!-- <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300">Company Name</button>
                                           -->
                            <input id="company_name" class="newsletter_email" type="text" placeholder="Company Name " required="required"
                                data-error="Valid email is required." required #Cname>

                        </div>
                        <br>
                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                            <!-- ** 23-4***-->
                            <div class="col-md-3" style="background: #3486BB;">
                                <label>
                                    <h4>Company Website </h4>
                                </label>
                            </div>
                            <!--
                                            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300">Company Website</button>
                                                    -->
                            <input id="company_website" class="newsletter_email" type="text" placeholder="Company Website"
                                required="required" data-error="Valid email is required." #website>

                        </div>
                        <br>
                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                            <!-- ** 23-4***-->
                            <div class="col-md-3" style="background: #3486BB;">
                                <label>
                                    <h4>Info </h4>
                                </label>
                            </div>
                            <!--
                                            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" >Info</button>
                                                    -->
                            <input id="info" class="newsletter_email" type="text" placeholder="Additional Information " required="required"
                                data-error="Valid email is required." #info>

                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="row ">
                            <!-- ** 23-4***-->

                            <!--  <div class="newsletter_form d-flex align-items-center justify-content-center col-lg-4  col-md-4 col-sm-4">

                                            <input type="checkbox" name="vehicle" value="Car" checked #sponser>
                                            <p>
                                                <font color="#1A94C4" size="5" > Sponser</font>
                                            </p><br></div>
                                        <div class="newsletter_form d-flex  align-items-center justify-content-center col-lg-4  col-md-4 col-sm-4">

                                            <input type="checkbox" name="vehicle" value="Car" #invester>
                                            <p>
                                                <font color="#1A94C4" size="5" >Investor</font>
                                            </p><br></div>
                                        <div class="newsletter_form d-flex align-items-center justify-content-center col-lg-4  col-md-4 col-sm-4">

                                            <input type="checkbox" name="vehicle" value="Car"  >
                                            <p>
                                                <font color="#1A94C4" size="5" #guest > Guest</font>
                                            </p><br></div>-->
                            <label class="container1">Sponser&#160;&#160;&#160;&#160;&#160;&#160;
                                <input type="checkbox" id="myCheck1" value="off" onclick="SponserText(); value='on'" #sponser>

                                <span class="checkmark1"></span>
                                <p id="text_sponser" style="display:none; color:#3486BB;" class="round2">Be a part of the limited lobby which will finance the cermony for best and finest projects
                                    <br> if you enroll as Sponsor , you will have the chance to presnet your company ahead ,be
                                    one of honoured guests and if you like , you can handle the prizes personally to the
                                    winners</p>
                            </label>
                            <label class="container1">Investor&#160;&#160;&#160;&#160;&#160;&#160;
                                <input type="checkbox" id="myCheck2" value="off" onclick="InvestorText() ; value='on'" #invester>
                                <span class="checkmark1"></span>
                                <p id="text_investor" style="display:none; color:#3486BB" class="round2">Are you looking for new projects , ideas or human resources ??
                                    <br> Enroll as Invester , when you browse the various type of projects , contact the team
                                    members , and you can invest or incubate any projects you like. </p>

                            </label>

                            <label class="container1">Guest
                                <input type="checkbox" id="myCheck3" value="off" onclick="GuestText() ; value='on'" #guest>
                                <span class="checkmark1"></span>
                                <p id="text_guest" style="display:none; color:#3486BB;" class="round2">are you interested in hearing new ideas , keeping up with the latest techinical udpates or
                                    see what the near future may look like ??
                                    <br> Enroll as Guest , and attend the debate for any projects you like , or be one of our
                                    Guests in the final cermony for the best and finest projects evey year .</p>

                            </label>
                        </div>
                        <br>
                        <!-- ** 23-4***-->
                        <!--  <div class="newsletter_form d-flex align-items-center justify-content-center">
                                                    <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" 
                                                    (click)="insertData(name,email,phone ,Cname ,
                                                    website , Country , City  ,info , sponser ,invester ,guest)" >Submit</button>
                                                </div>-->
                        <div class="newsletter_form d-flex align-items-center justify-content-center">
                            <button style="font-size:20px; " id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" (click)="insertData(name,email,phone ,Cname ,
                                                        website , Country , City  ,info , sponser ,invester ,guest)" onclick="submitMessage()">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>