
<!-- Home -->

<div class="home">

  <!-- Hero Slider -->
  <div class="hero_slider_container">
    <div class="hero_slider owl-carousel">

      <!-- Hero Slide -->
      <div class="hero_slide">
        <div class="hero_slide_background" style="background-image:url(assets/images2/slide-3.jpg)"></div>
        <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
          <div class="hero_slide_content text-center">
            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" align="center" style="color: #8DB9D4;">Think Beyond the 100 Marks</h1>
          </div>
        </div>
      </div>


    </div>

 
  </div>

</div>

<div class="hero_boxes">
  <div class="hero_boxes_inner">
    <div class="container">
      <div class="row">

     <div class="col-lg-4 hero_box_col">
          <button class="hero_box d-flex flex-row align-items-center justify-content-start">
            <img src="assets\categories\networking@2x.png" class="svg" alt="">
            <div class="hero_box_content">
              <h2 class="hero_box_title" routerLink="pro list/networking.png/Networking">Networking</h2>
            </div>
          </button>
        </div>

        <div class="col-lg-4 hero_box_col">
          <button class="hero_box d-flex flex-row align-items-center justify-content-start">
            <img src="assets\categories\ai@2x.png" class="svg" alt="">
            <div class="hero_box_content">
              <h2 class="hero_box_title" routerLink="pro list/ai.png/ARTIFICIAL INTELLEGENCE">ARTIFICIAL INTELLEGENCE</h2>
            </div>
          </button>
        </div>

        <div class="col-lg-4 hero_box_col">
          <button class="hero_box d-flex flex-row align-items-center justify-content-start">
            <img src="assets\categories\software-engineering@2x.png" class="svg" alt="">
            <div class="hero_box_content">
              <h2 class="hero_box_title" routerLink="pro list/software-engineering.png/SOFTWARE ENGINEERING">SOFTWARE ENGINEERING</h2>
            </div>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>




<!-- Popular -->
<!--
<div class="popular page_section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <h1>Popular Projects</h1>
        </div>
      </div>
    </div>

    <div class="row course_boxes">
      <div class="col-lg-4 course_box" *ngFor="let project of projects">
        <div class="card">
          <img class="card-img-top" src="assets\images\{{project.img}}" alt="https://unsplash.com/@kellybrito">
          <div class="card-body text-center">
            <div class="card-title"><a href="#">{{project.name}}</a></div>
          </div>
        </div>
      </div>

   
  
    </div>
  </div>
</div>-->

<!-- Form -->

<div class="popular page_section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <h1>Students Form</h1>
          <p><br></p>
          <p><br></p>
          
        </div>
      </div>
    </div>

    <div class="col-lg-3 icon_box text-left d-flex flex-column align-items-start justify-content-start">
      </div>

    <div class="col-lg-6 icon_box text-center d-flex flex-column align-items-start justify-content-start">
      <div class="icon_container d-flex flex-column justify-content-end">
        <img src="assets/application-form (1).svg" alt="">
        <br>
      <a target="_blank" href="https://docs.google.com/forms/d/1aLeGNq7Vb3ZAOpoaryqO-6wvEjfo0Atm6el8mfmaMVI/viewform?ts=5ad0aefb&edit_requested=true" ><h3  class="text-center">Be The Next FITE Star</h3></a>
      
        
      </div>
      <p>As a student, you should register the required information in the form and participate in the competition to be the next star.</p>
      <h3  style="color:#a5a5a5;" class="tect-center">to register
      <a target="_blank" href="https://docs.google.com/forms/d/1aLeGNq7Vb3ZAOpoaryqO-6wvEjfo0Atm6el8mfmaMVI/viewform?ts=5ad0aefb&edit_requested=true" >Click here </a>
      </h3>
      <!--<p> To register   <a href="https://www.flaticon.com/free-icon/application-form_73944#term=form&page=1&position=32">Click here</a></p>
      --> </div>

    <div class="col-lg-3 icon_box text-left d-flex flex-column align-items-start justify-content-start">
      </div>
  </div>
</div>

<div class="services page_section">

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <h1>Join Us</h1>
        </div>
      </div>
    </div>

    <div class="row services_row">

      <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
        <div class="col-lg-4 icon_container d-flex flex-column justify-content-end" style="background: #3486BB;">
          <!-- lama -->
          <img class="img-circle img1" src="assets\beneficiaries\sponsor@2x.png" alt="">
        </div>
        <h3>Sponsor</h3>
        <p>Be a part of the limited lobby which will finance the cermony for best and finest projects<br>
            if you enroll as Sponsor , you will have the chance to presnet your company ahead ,be one of honoured guests 
            and if you like , you can handle the prizes personally to the winners</p>
      </div>

      <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
        <div class="col-lg-4 icon_container d-flex flex-column justify-content-end" style="background: #3486BB;">
          <!-- lama -->
          
          <img class="img-circle img1" src="assets\beneficiaries\invester@2x.png" alt="">
        </div>
        <h3>Invester</h3>
        <p>
          Are you looking for new projects , ideas or human resources ??<br>
            Enroll as Invester , when you browse the various type of projects , contact the team members , 
            and you can invest or incubate any projects you like. 
          </p>
      </div>

      <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
        <div class="col-lg-4 icon_container d-flex flex-column justify-content-end" style="background: #3486BB;">
          <!-- lama -->
          
          <img class="img-circle img1" src="assets\beneficiaries\guest@2x.png" alt="">
        </div>
        
          <h3>Guest</h3>
          <p>are you interested in hearing new ideas , keeping up with the latest techinical udpates or see what the near future may look like ?? <br>
           Enroll as Guest  , and attend the debate for any projects you like , 
          or be one of our Guests in the final cermony for the best and finest projects evey year .</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="section_title text-center">
      <button class="button button2">
            <a routerLink="Enroll" align="center"><p style="color:#3486BB;">join us</p></a></button>
          </div> 
  </div>
</div>


<!-- Events -->

<div class="events page_section">
  <div class="container">
    
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <h1>Upcoming Events</h1>
        </div>
      </div>
    </div>
    
    <div class="event_items">

      <!-- Event Item -->
      <div class="row event_item" *ngFor="let event of events">
        <div class="col">
          <div class="row d-flex flex-row align-items-end">

            <div class="col-lg-2 order-lg-1 order-2">
              <div class="event_date d-flex flex-column align-items-center justify-content-center">
                <div class="event_day">Duration</div>
                <div class="event_month">{{event.duration}}</div>
              </div>
            </div>

            <div class="col-lg-6 order-lg-2 order-3">
              <div class="event_content">
                <div class="event_name"><h3 class="trans_200" href="#">{{event.name}}</h3></div>
                <div class="event_location"> Lecturer : {{event.Lecturer}}</div>
                <p>{{event.description2}}.</p>
                
              </div>
            </div>

            <div class="col-lg-4 order-lg-3 order-1">
              <div class="event_image">
                <img src="assets\images\{{event.img}}" >
              </div>
            </div>

          </div>	
        </div>
      </div>

      <!-- Event Item -->
<!--      <div class="row event_item">
        <div class="col">
          <div class="row d-flex flex-row align-items-end">

            <div class="col-lg-2 order-lg-1 order-2">
              <div class="event_date d-flex flex-column align-items-center justify-content-center">
                <div class="event_day">07</div>
                <div class="event_month">January</div>
              </div>
            </div>

            <div class="col-lg-6 order-lg-2 order-3">
              <div class="event_content">
                <div class="event_name"><a class="trans_200" href="#">Open day in the Univesrsity campus</a></div>
                <div class="event_location">Grand Central Park</div>
                <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
              </div>
            </div>

            <div class="col-lg-4 order-lg-3 order-1">
              <div class="event_image">
                <img src="assets\images/event.jpg">
              </div>
            </div>

          </div>	
        </div>
      </div>-->

      <!-- Event Item -->
   <!--   <div class="row event_item">
        <div class="col">
          <div class="row d-flex flex-row align-items-end">

            <div class="col-lg-2 order-lg-1 order-2">
              <div class="event_date d-flex flex-column align-items-center justify-content-center">
                <div class="event_day">07</div>
                <div class="event_month">January</div>
              </div>
            </div>

            <div class="col-lg-6 order-lg-2 order-3">
              <div class="event_content">
                <div class="event_name"><a class="trans_200" href="#">Student Graduation Ceremony</a></div>
                <div class="event_location">Grand Central Park</div>
                <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
              </div>
            </div>

            <div class="col-lg-4 order-lg-3 order-1">
              <div class="event_image">
                <img src="assets\images/event.jpg">
              </div>
            </div>

          </div>	
        </div>
      </div>-->

    </div>
      
  </div>
</div>

