
    
         
         <div class="home">
    <div class="home_background_container prlx_parent">
      <div class="home_background prlx" style="background-image:url(assets/images/Categories.jpg)"></div>
    </div>
    <div class="home_content">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <h1 align="center" style="color: #8DB9D4;">Categories</h1>
     <!-- <hr>
      
<img src="assets/categories/categories-white/{{img}}"height="75" width="75">

     -->
    </div>
  </div>
  <!--
<div class="">
<ul>
    <li><a  href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    <li><a  href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    
  </ul>

  </div>-->
  <div class="container">
   
  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <br>
      <br>
      <br>
      <a routerLink="pro list/transfer_right_left.png/Sub-specialty 1" style="font-size:20px;">Sub-specialty 1</a>
      <a routerLink="pro list/transfer_right_left.png/Sub-specialty 2"style="font-size:20px;">Sub-specialty 2</a>
      <a routerLink="pro list/transfer_right_left.png/Sub-specialty 3"style="font-size:20px;">Sub-specialty 3</a>
      <a routerLink="pro list/transfer_right_left.png/Sub-specialty 4"style="font-size:20px;">Sub-specialty 4</a>
      <a routerLink="pro list/transfer_right_left.png/Sub-specialty 5"style="font-size:20px;">Sub-specialty 5</a>
      <a routerLink="pro list/transfer_right_left.png/Sub-specialty 6"style="font-size:20px;">Sub-specialty 6</a>
      <a routerLink="pro list/transfer_right_left.png/Sub-specialty 7"style="font-size:20px;">Sub-specialty 7</a>
      <a routerLink="pro list/transfer_right_left.png/Sub-specialty 8"style="font-size:20px;">Sub-specialty 8</a>
      <a routerLink="pro list/transfer_right_left.png/Sub-specialty 9"style="font-size:20px;">Sub-specialty 9 </a>
      <a routerLink="pro list/transfer_right_left.png/Sub-specialty 10"style="font-size:20px;">Sub-specialty 10</a>
      <a routerLink="pro list/transfer_right_left.png/Sub-specialty 11"style="font-size:20px;">Sub-specialty 11</a>
      <a routerLink="pro list/transfer_right_left.png/Sub-specialty 12"style="font-size:20px;">Sub-specialty 12</a>
    </div>
    
    <div id="main">
      <h2> </h2>
      <!-- ** 23-4 ** -->
      <!--<p style="font-size:20px;"> You can classification students projects by Specialization or by Categores .</p>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; BY CATEGORIES</span>
      <hr>-->
      
      <div class=" row" > 
      <span style="font-size:30px;cursor:pointer" > &#9759; BY SPECIALIZATION</span>
      <br></div>
      <div class=" row" > 
          
            <div class="col-md-4">
              <!-- ** 23-4 ** -->
                <!--<a  href="pro list/ai.png/ARTIFICIAL INTELLEGENCE" >-->
                  <a routerLink="pro list/ai.png/ARTIFICIAL INTELLEGENCE" >
                  <p align="center">
              <img src="assets\categories\ai.png" height="150" width="150"></p></a>
                    <!-- ** 23-4 ** -->

             <!-- <p align="center" style="color:#3486BB;"onclick="openNav()"><a>ARTIFICIAL INTELLEGENCE</a></p>-->
              <p align="center" style="color:#3486BB;"><a routerLink="pro list/ai.png/ARTIFICIAL INTELLEGENCE"  style="color:#3486BB">ARTIFICIAL INTELLEGENCE</a></p>
            </div>
            <div class="col-md-4">
              <!-- ** 23-4 ** -->
               <!-- <a  href="pro list/networking.png/Networking" >-->
                  <a  routerLink="pro list/networking.png/Networking" >
                  <p align="center">
                <img src="assets\categories\networking.png" height="150" width="150" ></p></a>
                    <!-- ** 23-4 ** -->
                
               <!-- <p align="center" style="color:#3486BB;"onclick="openNav()"><a>NETWORKING</a></p>-->
                <p align="center" style="color:#3486BB;"><a routerLink="pro list/networking.png/Networking" style="color:#3486BB">NETWORKING</a></p>
                
              </div>
              <div class="col-md-4">
                <!-- ** 23-4 ** -->
                <!--  <a  href="pro list/software-engineering.png/SOFTWARE ENGINEERING" >-->
                    <a  routerLink="pro list/software-engineering.png/SOFTWARE ENGINEERING" >
                    
                  <p align="center">
                  <img src="assets\categories\software-engineering.png" height="150" width="150"></p></a>
                    <!-- ** 23-4 ** -->
                 
                  <!-- <p align="center" style="color:#3486BB;"onclick="openNav()"><a>SOFTWARE ENGINERRING</a></p>-->
                  <p align="center" style="color:#3486BB;"><a routerLink="pro list/software-engineering.png/SOFTWARE ENGINEERING" style="color:#3486BB">SOFTWARE ENGINERRING</a></p> 
                </div> 
          </div>
    </div>
</div>
       
 <!-- <br>
  <br>
  <br>
      <div class=" row" > 

  <div class="col-md-4">
      <a  href="pro list/ai.png/ARTIFICIAL INTELLEGENCE" >
        <p align="center">
    <img src="assets\categories\ai.png" height="200" width="200"></p></a>
    <p align="center" style="color:#3486BB;">ARTIFICIAL INTELLEGENCE</p>
  </div>
  <div class="col-md-4">
      <a  href="pro list/networking.png/Networking" >
        <p align="center">
      <img src="assets\categories\networking.png"height="200" width="200" ></p></a>
      <p align="center" style="color:#3486BB;"onclick="openNav()"><a>NETWORKING</a></p>
      
      
    </div>
    <div class="col-md-4">
        <a  href="pro list/software-engineering.png/SOFTWARE ENGINEERING" >
        <p align="center">
          
        <img src="assets\categories\software-engineering.png"height="200" width="200"></p></a>
        <p align="center" style="color:#3486BB;">SOFTWARE ENGINERRING</p>
      </div>
</div>
<div class=" row">
    
      <div class="col-md-4">
          <a  href="pro list/ai.png/ARTIFICIAL INTELLEGENCE" >
            <p align="center">
        <img src="assets\categories\ai.png" height="200" width="200"></p></a>
        <p align="center" style="color:#3486BB;">NLP</p>
      </div>
      <div class="col-md-4">
          <a  href="pro list/networking.png/Networking" >
            <p align="center">
          <img src="assets\categories\networking.png"height="200" width="200"></p></a>
          <p align="center" style="color:#3486BB;">DATA MINING </p>
          
          
        </div>
        <div class="col-md-4">
            <a  href="pro list/software-engineering.png/SOFTWARE ENGINEERING" >
            <p align="center">
              
            <img src="assets\categories\software-engineering.png"height="200" width="200"></p></a>
            <p align="center" style="color:#3486BB;">VIRTUAL REALITY</p>
          </div>
    </div>

  -->